.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*/ .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Nav {
  text-decoration: none;
  margin-right: 30px;
  color: black;
  margin-top: 10px;
  transition: color 0.53s
}

.Nav:hover {
  border-bottom: 1px solid #FF5733;
  color: #FF5733 !important;
  /* Naye rang hover per */
  background-color: #f7f7f7;
}

.logo {
  height: 60px !important;
  width: auto;
  border-radius: 4px;
}

.navstyle {
  display: flex;
  justify-content: space-between;
}

.slide {
  border-radius: 10px;
  height: 600px;
}

.Cont {
  margin: 0 auto;
  max-width: 1500px;
}

.setimg {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.Imgset {
  height: 300px;
  width: 400px;
  border-radius: 5px;
  padding: 5px;
}

.wt {
  width: 400px;
  padding: 15px;
  padding-bottom: 0;
}

.cart {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 10px;
}

.Imgset-2 {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
}

.a {
  color: black;
  text-decoration: none;
}

.bt {
  margin-left: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* ------------- CSS added by AJ ------------- */

.footer-Nav-ul li {
  margin-left: 20px !important;
}

.ContactFormContainer {
  margin-top: 100px;
  width: 70vw !important;
  padding: 50px !important;
  background-color: rgb(33, 37, 53);
  color: white;
  border-radius: 20px;
  margin-bottom: 100px;
}

.ContactFormContainer .Row {
  margin-bottom: 20px !important;
}

.ContactFormContainer .Row .Col {
  margin: 0 10px 0 10px;
}

.ContactFormContainer .Row Button {
  width: 150px;
  margin: auto;
}

.ContactFormHeroImage img {
  height: 250px;
  width: 100vw;
}


/* Services Page Style  */

.ServicesPageSections {
  padding: 50px;
  margin-top: 70px !important;
  border-radius: 20px;
  background-color: rgb(247, 247, 247);
}

.ServicesPageSections .DetailsPart {
  padding: 70px;
}

.ServicesPageSections .DetailsPart h3 {
  font-size: 44px;
}

.ServicesPageSections .DetailsPart p {
  color: rgb(83, 83, 83);
  line-height: 35px;
}

.ServicesPageSections .DetailsPart p b {
  font-size: 24px;
  font-style: italic;
}

.ServicesPageSections video {
  border-radius: 20px;
}


/* Gallert Grid Images */

.GridStyle img {
  border-radius: 10px;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
